<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{myname}} Projects </title>
    {% include 'bootstrap.html' %}
    
  </head>
<body> 
  <div class="container" >
  <h1 class ="text-center">  My first project </h1>
  {%include 'banner.html'%}
    
  <h2 class="text-center mt-2 mb-4"> about Renad</h2>
  <p>  Renad is a dedicated student pursuing studies in Artificial Intelligence. With a passion for cutting-edge technology and a drive for innovation, Renad is committed to mastering the intricacies of AI to contribute to the evolving field. As a new student eager to learn and grow, Renad approaches challenges with enthusiasm and determination, ready to make a meaningful impact through academic excellence and hard work. With a focus on expanding knowledge and developing expertise in AI, Renad is poised to embark on an exciting journey of discovery and accomplishment in the dynamic world of artificial intelligence.</p>
  
  <h2 class="text-center"> Project</h2>
 <div>
    
  {% for item in myskills  %}
   {% include 'myProjects.html' %}
    {% endfor %}
    
 </div>
  
<div class="text-center">
  <a href="/contactme" type="button" class="btn btn-dark">Contact Me</a>
<p> copy right , {{myname}}</p></div>
</div>
</body>
</html>